<a href="https://colab.research.google.com/github/chritson2004/Introduction-to-python/blob/main/Untitled9.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import files
supermarket=files.upload()

Saving Supermarket_sales.csv to Supermarket_sales.csv

In [6]:
import pandas as pd
data=pd.read_csv('Supermarket_sales.csv')
#print(data)
print(data.head(10))
print(data.tail(8))

   No    InvoiceID Branch       City Customertype  Gender  \
0   1  750-67-8428      A     Yangon       Member  Female
1   2  226-31-3081      C  Naypyitaw       Normal  Female
2   3  631-41-3108      A     Yangon       Normal    Male
3   4  123-19-1176      A     Yangon       Member    Male
4   5  373-73-7910      A     Yangon       Normal    Male
5   6  699-14-3026      C  Naypyitaw       Normal    Male
6   7  355-53-5943      A     Yangon       Member  Female
7   8  315-22-5665      C  Naypyitaw       Normal  Female
8   9  665-32-9167      A     Yangon       Member  Female
9  10  692-92-5582      B   Mandalay       Member  Female

              Productline  Unitprice  Quantity      Tax     Total       Date  \
0       Health and beauty      74.69         7  26.1415  548.9715   1/5/2019
1  Electronic accessories      15.28         5   3.8200   80.2200   3/8/2019
2      Home and lifestyle      46.33         7  16.2155  340.5255   3/3/2019
3       Health and beauty      58.22         8  23.2880  489.0480  1/27/2019
4       Sports and travel      86.31         7  30.2085  634.3785   2/8/2019
5  Electronic accessories      85.39         7  29.8865  627.6165  3/25/2019
6  Electronic accessories      68.84         6  20.6520  433.6920  2/25/2019
7      Home and lifestyle      73.56        10  36.7800  772.3800  2/24/2019
8       Health and beauty      36.26         2   3.6260   76.1460  1/10/2019
9      Food and beverages      54.84         3   8.2260  172.7460  2/20/2019

    Time      Payment    cogs  gross_margin_percentage  gross_iincome  Rating
0  13:08      Ewallet  522.83                 4.761905        26.1415     9.1
1  10:29         Cash   76.40                 4.761905         3.8200     9.6
2  13:23  Credit card  324.31                 4.761905        16.2155     7.4
3  20:33      Ewallet  465.76                 4.761905        23.2880     8.4
4  10:37      Ewallet  604.17                 4.761905        30.2085     5.3
5  18:30      Ewallet  597.73                 4.761905        29.8865     4.1
6  14:36      Ewallet  413.04                 4.761905        20.6520     5.8
7  11:38      Ewallet  735.60                 4.761905        36.7800     8.0
8  17:15  Credit card   72.52                 4.761905         3.6260     7.2
9  13:27  Credit card  164.52                 4.761905         8.2260     5.9
       No    InvoiceID Branch       City Customertype  Gender  \
992   993  745-74-0715      A     Yangon       Normal    Male
993   994  690-01-6631      B   Mandalay       Normal    Male
994   995  652-49-6720      C  Naypyitaw       Member  Female
995   996  233-67-5758      C  Naypyitaw       Normal    Male
996   997  303-96-2227      B   Mandalay       Normal  Female
997   998  727-02-1313      A     Yangon       Member    Male
998   999  347-56-2442      A     Yangon       Normal    Male
999  1000  849-09-3807      A     Yangon       Member  Female

                Productline  Unitprice  Quantity      Tax      Total  \
992  Electronic accessories      58.03         2   5.8030   121.8630
993     Fashion accessories      17.49        10   8.7450   183.6450
994  Electronic accessories      60.95         1   3.0475    63.9975
995       Health and beauty      40.35         1   2.0175    42.3675
996      Home and lifestyle      97.38        10  48.6900  1022.4900
997      Food and beverages      31.84         1   1.5920    33.4320
998      Home and lifestyle      65.82         1   3.2910    69.1110
999     Fashion accessories      88.34         7  30.9190   649.2990

          Date   Time  Payment    cogs  gross_margin_percentage  \
992  3/10/2019  20:46  Ewallet  116.06                 4.761905
993  2/22/2019  18:35  Ewallet  174.90                 4.761905
994  2/18/2019  11:40  Ewallet   60.95                 4.761905
995  1/29/2019  13:46  Ewallet   40.35                 4.761905
996   3/2/2019  17:16  Ewallet  973.80                 4.761905
997   2/9/2019  13:22     Cash   31.84                 4.761905
998  2/22/2019  15:33     Cash   65.82                 4.761905
999  2/18/2019  13:28     Cash  618.38                 4.761905

     gross_iincome  Rating
992         5.8030     8.8
993         8.7450     6.6
994         3.0475     5.9
995         2.0175     6.2
996        48.6900     4.4
997         1.5920     7.7
998         3.2910     4.1
999        30.9190     6.6

In [8]:
print(data.loc[1])

No                                              2
InvoiceID                             226-31-3081
Branch                                          C
City                                    Naypyitaw
Customertype                               Normal
Gender                                     Female
Productline                Electronic accessories
Unitprice                                   15.28
Quantity                                        5
Tax                                          3.82
Total                                       80.22
Date                                     3/8/2019
Time                                        10:29
Payment                                      Cash
cogs                                         76.4
gross_margin_percentage                  4.761905
gross_iincome                                3.82
Rating                                        9.6
Name: 1, dtype: object

In [15]:
print(data[['City']])

          City
0       Yangon
1    Naypyitaw
2       Yangon
3       Yangon
4       Yangon
..         ...
995  Naypyitaw
996   Mandalay
997     Yangon
998     Yangon
999     Yangon

[1000 rows x 1 columns]

In [16]:
print(data[['City','Branch']])

          City Branch
0       Yangon      A
1    Naypyitaw      C
2       Yangon      A
3       Yangon      A
4       Yangon      A
..         ...    ...
995  Naypyitaw      C
996   Mandalay      B
997     Yangon      A
998     Yangon      A
999     Yangon      A

[1000 rows x 2 columns]

In [20]:
data1=data.drop(['Tax'],axis=1)
data1.head(4)

,No,InvoiceID,Branch,City,Customertype,Gender,Productline,Unitprice,Quantity,Total,Date,Time,Payment,cogs,gross_margin_percentage,gross_iincome,Rating
0,1,750-67-8428,A,Yangon,Member,Female,Health and beauty,74.69,7,548.9715,1/5/2019,13:08,Ewallet,522.83,4.761905,26.1415,9.1
1,2,226-31-3081,C,Naypyitaw,Normal,Female,Electronic accessories,15.28,5,80.2200,3/8/2019,10:29,Cash,76.40,4.761905,3.8200,9.6
2,3,631-41-3108,A,Yangon,Normal,Male,Home and lifestyle,46.33,7,340.5255,3/3/2019,13:23,Credit card,324.31,4.761905,16.2155,7.4
3,4,123-19-1176,A,Yangon,Member,Male,Health and beauty,58.22,8,489.0480,1/27/2019,20:33,Ewallet,465.76,4.761905,23.2880,8.4

In [22]:


data1=data.drop([5],axis=0)
data1.head(4)

,No,InvoiceID,Branch,City,Customertype,Gender,Productline,Unitprice,Quantity,Tax,Total,Date,Time,Payment,cogs,gross_margin_percentage,gross_iincome,Rating
0,1,750-67-8428,A,Yangon,Member,Female,Health and beauty,74.69,7,26.1415,548.9715,1/5/2019,13:08,Ewallet,522.83,4.761905,26.1415,9.1
1,2,226-31-3081,C,Naypyitaw,Normal,Female,Electronic accessories,15.28,5,3.8200,80.2200,3/8/2019,10:29,Cash,76.40,4.761905,3.8200,9.6
2,3,631-41-3108,A,Yangon,Normal,Male,Home and lifestyle,46.33,7,16.2155,340.5255,3/3/2019,13:23,Credit card,324.31,4.761905,16.2155,7.4
3,4,123-19-1176,A,Yangon,Member,Male,Health and beauty,58.22,8,23.2880,489.0480,1/27/2019,20:33,Ewallet,465.76,4.761905,23.2880,8.4

In [23]:
data1=data.drop([2],axis=0)
data1.head(4)

,No,InvoiceID,Branch,City,Customertype,Gender,Productline,Unitprice,Quantity,Tax,Total,Date,Time,Payment,cogs,gross_margin_percentage,gross_iincome,Rating
0,1,750-67-8428,A,Yangon,Member,Female,Health and beauty,74.69,7,26.1415,548.9715,1/5/2019,13:08,Ewallet,522.83,4.761905,26.1415,9.1
1,2,226-31-3081,C,Naypyitaw,Normal,Female,Electronic accessories,15.28,5,3.8200,80.2200,3/8/2019,10:29,Cash,76.40,4.761905,3.8200,9.6
3,4,123-19-1176,A,Yangon,Member,Male,Health and beauty,58.22,8,23.2880,489.0480,1/27/2019,20:33,Ewallet,465.76,4.761905,23.2880,8.4
4,5,373-73-7910,A,Yangon,Normal,Male,Sports and travel,86.31,7,30.2085,634.3785,2/8/2019,10:37,Ewallet,604.17,4.761905,30.2085,5.3

In [26]:
print(data.Unitprice.max())

99.96

In [27]:
print(data.Unitprice.idxmax())

122

In [28]:
print(data.Unitprice.min())

10.08

In [32]:
print(data.Unitprice.idxmin())

944

In [33]:
print(data.Unitprice.mean())

55.67213

In [38]:
data.loc[data['Customertype]=='Normal']

SyntaxError: ignored

In [37]:
data.loc[data['Gender']=='Male']

,No,InvoiceID,Branch,City,Customertype,Gender,Productline,Unitprice,Quantity,Tax,Total,Date,Time,Payment,cogs,gross_margin_percentage,gross_iincome,Rating
2,3,631-41-3108,A,Yangon,Normal,Male,Home and lifestyle,46.33,7,16.2155,340.5255,3/3/2019,13:23,Credit card,324.31,4.761905,16.2155,7.4
3,4,123-19-1176,A,Yangon,Member,Male,Health and beauty,58.22,8,23.2880,489.0480,1/27/2019,20:33,Ewallet,465.76,4.761905,23.2880,8.4
4,5,373-73-7910,A,Yangon,Normal,Male,Sports and travel,86.31,7,30.2085,634.3785,2/8/2019,10:37,Ewallet,604.17,4.761905,30.2085,5.3
5,6,699-14-3026,C,Naypyitaw,Normal,Male,Electronic accessories,85.39,7,29.8865,627.6165,3/25/2019,18:30,Ewallet,597.73,4.761905,29.8865,4.1
11,12,529-56-3974,B,Mandalay,Member,Male,Electronic accessories,25.51,4,5.1020,107.1420,3/9/2019,17:03,Cash,102.04,4.761905,5.1020,6.8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
992,993,745-74-0715,A,Yangon,Normal,Male,Electronic accessories,58.03,2,5.8030,121.8630,3/10/2019,20:46,Ewallet,116.06,4.761905,5.8030,8.8
993,994,690-01-6631,B,Mandalay,Normal,Male,Fashion accessories,17.49,10,8.7450,183.6450,2/22/2019,18:35,Ewallet,174.90,4.761905,8.7450,6.6
995,996,233-67-5758,C,Naypyitaw,Normal,Male,Health and beauty,40.35,1,2.0175,42.3675,1/29/2019,13:46,Ewallet,40.35,4.761905,2.0175,6.2
997,998,727-02-1313,A,Yangon,Member,Male,Food and beverages,31.84,1,1.5920,33.4320,2/9/2019,13:22,Cash,31.84,4.761905,1.5920,7.7
998,999,347-56-2442,A,Yangon,Normal,Male,Home and lifestyle,65.82,1,3.2910,69.1110,2/22/2019,15:33,Cash,65.82,4.761905,3.2910,4.1

In [40]:
import numpy as np
stud=[[12,14,10],[15,19,20],[11,15,19]]
Stud1=np.array(stud)
print(Stud1)

[[12 14 10]
 [15 19 20]
 [11 15 19]]

In [41]:
import numpy as np

Stud1=np.array({'MARK1':[10,20,30,40],'MARK2':[20,40,50,60]})
print(Stud1)

{'MARK1': [10, 20, 30, 40], 'MARK2': [20, 40, 50, 60]}

In [42]:
import numpy as np
stud=[[12,14],[15,19],[11,15],[23,5]]
Stud1=np.array(stud)
print(Stud1)

[[12 14]
 [15 19]
 [11 15]
 [23  5]]

In [44]:
values=np.arange(20)
print(values)

[ 0  1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19]

In [46]:
values=np.arange(1,110)
print(values)

[  1   2   3   4   5   6   7   8   9  10  11  12  13  14  15  16  17  18
  19  20  21  22  23  24  25  26  27  28  29  30  31  32  33  34  35  36
  37  38  39  40  41  42  43  44  45  46  47  48  49  50  51  52  53  54
  55  56  57  58  59  60  61  62  63  64  65  66  67  68  69  70  71  72
  73  74  75  76  77  78  79  80  81  82  83  84  85  86  87  88  89  90
  91  92  93  94  95  96  97  98  99 100 101 102 103 104 105 106 107 108
 109]

In [47]:
values=np.arange(50,60)
print(values)

[50 51 52 53 54 55 56 57 58 59]

In [49]:
values=np.arange(70,100,3)
print(values)

[70 73 76 79 82 85 88 91 94 97]

In [50]:
from numpy import zeros
zero3=np.zeros(8)
print(zero3)

[0. 0. 0. 0. 0. 0. 0. 0.]

In [51]:
from numpy import zeros
values=np.zeros((2,6))
print(values)

[[0. 0. 0. 0. 0. 0.]
 [0. 0. 0. 0. 0. 0.]]

In [52]:
values=np.ones(5)
print(values)

[1. 1. 1. 1. 1.]

In [54]:
values=np.ones((8,2))
print(values)

[[1. 1.]
 [1. 1.]
 [1. 1.]
 [1. 1.]
 [1. 1.]
 [1. 1.]
 [1. 1.]
 [1. 1.]]

In [55]:

identityarray=np.eye(5)
print(identityarray)

[[1. 0. 0. 0. 0.]
 [0. 1. 0. 0. 0.]
 [0. 0. 1. 0. 0.]
 [0. 0. 0. 1. 0.]
 [0. 0. 0. 0. 1.]]

In [56]:
len(zeroarray)

NameError: ignored

In [ ]:
firstarray=np.array([10,20,30,40],[2,4,6,8],[5,10,15,20])
print(firstarray.shape)
secondarray=firstarray.reshape(4,3)