<a href="https://colab.research.google.com/github/chritson2004/Introduction-to-python/blob/main/Untitled1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
x=8

In [2]:
x

8

In [3]:
mark=int(input('enter the marks'))
if mark >50:
  print('you have passed')
if mark <50:
  print('you have failed')

enter the marks75575
you have passed

In [4]:
if mark >50:
  print('you have passed')
if mark <50:
  print('you have failed')

you have passed

In [5]:
mark=int(input('enter the marks'))
if mark >50:
  print('you have passed')
if mark <50:
  print('you have failed')
if mark == 50:
  print('just passed')

enter the marks55
you have passed

In [6]:
sal=int(input('enter salary'))
if sal>250000:
  print('taxable')
  l=sal*10/100
  print(l)
if sal<250000:
  print('not taxable')
if sal==250000:
  print('taxed')

enter salary35
not taxable

In [7]:
sal=int(input('enter salary'))
if sal>250000:
  print('taxable')
  s=sal-250000
  print(s)
  l=s*10/100
  print(l)
if sal<250000:
  print('not taxable')
if sal==250000:
  print('taxed')

enter salary32
not taxable

In [8]:
sal=int(input('enter sal'))
if sal<250000:
  print('not taxable')
if sal>250000 and sal<500000:
  print((sal-250000)*10/100,'taxable')
if sal>500000:
  print((sal-250000*10/100+(sal-500000)*20/100),'taxable')

enter sal5
not taxable

In [8]:
57587
5353
533535
55442
2543