<a href="https://colab.research.google.com/github/chritson2004/Introduction-to-python/blob/main/Untitled5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
def chritson():
  print('****hello world****')

In [ ]:
chritson()

****hello world****

In [ ]:
def chritson(x,y):
  z=x+y
  print('Result = ' ,z)

In [ ]:
chritson(2,3)

Result =  5

In [ ]:
if chritson(sal)>250000:
    print('you are taxable')
  else:
    print('you are not taxable')

In [ ]:
sal=int(input('enter salary'))
chritson(sal)
def chritson(sal):
  if chritson(sal)>250000:
    print('you are taxable')
  else:
    print('you are not taxable')

enter salary300000
you are taxable

In [26]:
def chritson(y):
  k=0
  for a in range(y):
    k=k+a
  print(k)

In [27]:
x=int(input('enter a number'))
chritson(x)

enter a number300
44850

In [32]:
def add(x,y):
  print(x+y)
def sub(x,y):
  print(x-y)
def mul(x,y):
  print(x*y)
def div(x,y):
  print(x/y)
x=int(input('enter the number'))
y=int(input('enter the number'))
add(x,y)
sub(x,y)
mul(x,y)
div(x,y)

enter the number10
enter the number20
30
-10
200
0.5