<a href="https://colab.research.google.com/github/chritson2004/Introduction-to-python/blob/main/Untitled9.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [14]:
travelsource=input('enter the travel source')
traveldestination=input('enter the travel destinaton')
number=int(input('enter the number of passengers'))
print(travelsource)
print(traveldestination)
print(number)

enter the travel sourcekochi
enter the travel destinatonmumbai
enter the number of passengers80
kochi
mumbai
80

In [11]:
x=int(input('enter the ticket price'))
y=int(input('enter the number of persons'))
v=x/y
print(v)

enter the ticket price400
enter the number of persons200
2.0

In [16]:
n=input('enter the name')
v=int(input('enter the ticket fair'))
print(n,v)

enter the namehari
enter the ticket fair500
hari 500

In [18]:
t=int(input('enter the total ticket price'))
if t>10000:
  print(t,'eligible for discount')
else:
  print(t,'not eligible')

enter the total ticket price50000
50000 eligible for discount

In [19]:
t=int(input('enter the total ticket price'))
if t>15000:
  print(t,'eligible for 20% discount')
else:
  print(t,'eligible for 10% discount')

enter the total ticket price60000
60000 eligible for 20% discount

In [28]:
v=int(input('enter the discount rate'))
if v>15000:
  t=v*20/100
  print(v-t,'discount')
elif v>10000:
  t=v*10/100
  print(v-t,'discount')
elif v<10000:
  t=v*5/100
  print(v-t,'discount')
else:
  print('no discount')

enter the discount rate50000
40000.0 discount

In [29]:
a=int(input('enter the number'))
if a>0:
  print('positive')
elif a<0:
  print('negative')
else:
  print('zero')

enter the number10
positive

In [31]:
age=int(input('enter the age'))
if age>18:
  print('adult')
elif age>13 and age<19:
  print('teenager')
elif age>6 and age<12:
  print('kid')
elif age>2 and age<5:
  print('toddler')
elif age<2:
  print('infant')

enter the age16
teenager

In [40]:
name=input('ENTER THE NAME')
if name=='a':
  print('its a vowel')
elif name=='e':
   print('its a vowel')
elif name=='i':
   print('its a vowel')
elif name=='o':
   print('its a vowel')
elif name=="u":
   print('its a vowel')
else:
  print('not a vowel')

ENTER THE NAMEv
not a vowel

In [41]:
v=input('enter the name')
for a in v:

enter the namejohn
j
o
h
n

In [42]:
for a in range(44,88):
  if a%2!=0:
    print(a,'odd')

45 odd
47 odd
49 odd
51 odd
53 odd
55 odd
57 odd
59 odd
61 odd
63 odd
65 odd
67 odd
69 odd
71 odd
73 odd
75 odd
77 odd
79 odd
81 odd
83 odd
85 odd
87 odd

In [45]:
v=0
for a in range(1,11):
  v=v+a
  print(a,v)

1 1
2 3
3 6
4 10
5 15
6 21
7 28
8 36
9 45
10 55